# Analyse de Campagne Marketing - Grande Distribution

---

## Contexte et Objectifs

**Client :** Direction Marketing d'une multinationale de la grande distribution

### Objectifs Principaux
1. **Analyser, visualiser et interpr√©ter** les donn√©es de campagne marketing
2. **D√©finir les KPIs pertinents** pour √©valuer l'efficacit√© des campagnes
3. **Pr√©dire la r√©ponse client** aux futures campagnes

### Objectifs Finaux
- Chiffrer l'efficacit√© des campagnes marketing
- R√©aliser des KPIs et fournir des chiffres cl√©s
- Cerner la cible client et comprendre le public cibl√©

### Livrables
- Analyses exploratoires compl√®tes
- Mod√®les pr√©dictifs de r√©ponse client
- Segmentation client (clustering)
- Justification du feature engineering

## Table des Mati√®res

1. **Importation des Biblioth√®ques**
2. **Chargement et D√©couverte des Donn√©es**
3. **Nettoyage et Pr√©traitement des Donn√©es**
4. **Feature Engineering**
5. **Analyse Exploratoire des Donn√©es (EDA)**
6. **D√©finition et Calcul des KPIs**
7. **Segmentation Client (Clustering)**
8. **Mod√©lisation Pr√©dictive**
9. **Conclusions et Recommandations**

---
## 1) Importation des Biblioth√®ques

In [25]:
# Manipulation de donn√©es
import pandas as pd
import numpy as np

# Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Machine Learning - Preprocessing
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Machine Learning - Clustering
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

# Machine Learning - Mod√©lisation
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

# Machine Learning - √âvaluation
from sklearn.metrics import (
    classification_report, confusion_matrix, 
    accuracy_score, precision_score, recall_score, f1_score,
    roc_auc_score, roc_curve, precision_recall_curve
)

# Ignorer les warnings
import warnings 
warnings.filterwarnings('ignore')

# Configuration des graphiques
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

print("‚úÖ Toutes les biblioth√®ques ont √©t√© import√©es avec succ√®s !")

‚úÖ Toutes les biblioth√®ques ont √©t√© import√©es avec succ√®s !

---
## 2Ô∏è) Chargement et D√©couverte des Donn√©es

In [26]:
# Chargement des donn√©es
df = pd.read_csv('Camp_Market.csv', sep=';')

print("üìä Dimensions du dataset :")
print(f"   Nombre de lignes : {df.shape[0]}")
print(f"   Nombre de colonnes : {df.shape[1]}")
print("\n" + "="*80 + "\n")

# Affichage des premi√®res lignes
print("üìã Aper√ßu des donn√©es :")
df.head(10)

üìä Dimensions du dataset :
   Nombre de lignes : 2240
   Nombre de colonnes : 29

================================================================================

üìã Aper√ßu des donn√©es :

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,0,1985,Graduation,Married,70951,0,0,04/05/2013,66,239,10,554,254,87,54,1,3,4,9,1,0,0,0,0,0,0,3,11,0
1,1,1961,Graduation,Single,57091,0,0,15/06/2014,0,464,5,64,7,0,37,1,7,3,7,5,0,0,0,0,1,0,3,11,1
2,9,1975,Master,Single,46098,1,1,18/08/2012,86,57,0,27,0,0,36,4,3,2,2,8,0,0,0,0,0,0,3,11,0
3,13,1947,PhD,Widow,25358,0,1,22/07/2013,57,19,0,5,0,0,8,2,1,0,3,6,0,0,0,0,0,0,3,11,0
4,17,1971,PhD,Married,60491,0,1,06/09/2013,81,637,47,237,12,19,76,4,6,11,7,5,0,0,0,0,0,0,3,11,0
5,20,1965,2n Cycle,Married,46891,0,1,01/09/2013,91,43,12,23,29,15,61,1,2,1,4,4,0,0,0,0,0,0,3,11,0
6,22,1976,Graduation,Divorced,46310,1,0,03/12/2012,99,185,2,88,15,5,14,2,6,1,5,8,0,0,0,0,0,0,3,11,0
7,24,1960,Master,Together,17144,1,1,15/02/2014,96,18,2,19,0,2,6,5,3,0,4,7,0,0,0,0,0,0,3,11,0
8,25,1958,Graduation,Married,65148,0,1,16/11/2012,9,460,35,422,33,12,153,2,6,6,7,4,0,0,0,0,0,0,3,11,0
9,35,1987,Graduation,Married,25545,1,0,08/09/2012,35,32,1,64,16,12,85,3,2,2,3,6,0,0,0,0,0,0,3,11,1

In [27]:
# Informations g√©n√©rales sur le dataset
print("‚ÑπÔ∏è Informations sur le dataset :")
print(df.info())
print("\n" + "="*80 + "\n")

# Statistiques descriptives
print("Statistiques descriptives :")
df.describe()

‚ÑπÔ∏è Informations sur le dataset :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   object
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: int64(25), object(4)
memory usage: 507.6+ KB
None

================================================================================

Statistiques descriptives :

,ID,Year_Birth,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,27.062946,44.021875,2.325000,4.084821,2.662054,5.790179,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,41.280498,52.167439,1.932238,2.778714,2.923101,3.250958,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,1.000000,9.000000,1.000000,2.000000,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,8.000000,24.000000,2.000000,4.000000,2.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,33.000000,56.000000,3.000000,6.000000,4.000000,8.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,263.000000,362.000000,15.000000,27.000000,28.000000,13.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

---
## 3Ô∏è) Nettoyage et Pr√©traitement des Donn√©es

In [31]:
#1 Dans Marital Status, remplacer "Alone" par "Single" et "Absurd" et "YOLO" par "Other"

new_value = {
    'Alone': 'Single',
    'Absurd': 'Other',
    'YOLO': 'Other'
}
df['Marital_Status'] = df['Marital_Status'].replace(new_value)
print("Valeurs dans 'Marital_Status' remplac√©es avec succ√®s.")
print(df['Marital_Status'].head())  
df.head()

print("\n" + "="*80 + "\n")

# 1.5 Dans la colonne Income, change les , en .
df['Income'] = df['Income'].astype(str).str.replace(',', '.').astype(float)
print("Virgules dans 'Income' remplac√©es par des points avec succ√®s.")
print(df['Income'].head())

print("\n" + "="*80 + "\n")

#2 Supprimer la ligne avec income = 666666

df = df[df['Income'] != 666666]
print("Ligne avec 'Income' = 666666 supprim√©e avec succ√®s.")
print(df['Income'].head())

print("\n" + "="*80 + "\n")

                                                



#4 Supprimer les lignes si la somme des canaux de distrib (NumDealsPurchases + NumWebPurchases + NumCatalogPurchases + NumStorePurchases) = 0

df['Total_Purchases'] = df['NumDealsPurchases'] + df['NumWebPurchases'] + df['NumCatalogPurchases'] + df['NumStorePurchases']
df = df[df['Total_Purchases'] != 0]
df = df.drop(columns=['Total_Purchases'])
print("Lignes avec somme des canaux de distribution √©gale √† 0 supprim√©es avec succ√®s.")
print(df.head())

print("\n" + "="*80 + "\n")


#5 Supprimer les lignes o√π la somme store/web/catalog < deals

df['Sum_Other_Purchases'] = df['NumWebPurchases'] + df['NumCatalogPurchases'] + df['NumStorePurchases']
df = df[df['Sum_Other_Purchases'] >= df['NumDealsPurchases']]
df = df.drop(columns=['Sum_Other_Purchases'])
print("Lignes o√π la somme store/web/catalog < deals supprim√©es avec succ√®s.")
print(df.head())   

print("\n" + "="*80 + "\n")


#6 Trier visuelement les campagnes Marketing dans le bon ordre
# ID - Year_birth - Education - Marital_Status - Income - Kidhome - Teenhome - Dt_Customer - Recency - MntWines - MntFruits - MntMeatProducts - MntFishProducts - MntSweetProducts - MntGoldProds - NumDealsPurchases - NumWebPurchases - NumCatalogPurchases - NumStorePurchases - NumWebVisitsMonth - AcceptedCmp1 - AcceptedCmp2 - AcceptedCmp3 - AcceptedCmp4 - AcceptedCmp5 - Response - Complain
# Suppresion des colonnes Z_CostContact et Z_Revenue car elles ne sont pas utiles pour l'analyse

desired_order = [
    'ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 
    'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 
    'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 
    'MntSweetProducts', 'MntGoldProds', 
    'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 
    'NumStorePurchases', 'NumWebVisitsMonth', 
    'AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 
    'AcceptedCmp4', 'AcceptedCmp5', 'Response', 'Complain'
]
df = df[desired_order]
print("Colonnes tri√©es dans l'ordre souhait√© avec succ√®s.")

print("\n" + "="*80 + "\n")


#7 Afficher la somme du total des income

total_income = df['Income'].sum()
print(f"La somme totale des revenus (Income) est : {total_income}")

print("\n" + "="*80 + "\n")

Valeurs dans 'Marital_Status' remplac√©es avec succ√®s.
0    Married
1     Single
2     Single
3      Widow
4    Married
Name: Marital_Status, dtype: object

================================================================================

Virgules dans 'Income' remplac√©es par des points avec succ√®s.
0    70951.0
1    57091.0
2    46098.0
3    25358.0
4    60491.0
Name: Income, dtype: float64

================================================================================

Ligne avec 'Income' = 666666 supprim√©e avec succ√®s.
0    70951.0
1    57091.0
2    46098.0
3    25358.0
4    60491.0
Name: Income, dtype: float64

================================================================================

Lignes avec somme des canaux de distribution √©gale √† 0 supprim√©es avec succ√®s.
   ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0   0        1985  Graduation        Married  70951.0        0         0
1   1        1961  Graduation         Single  57091.0        0         0
2   9        1975      Master         Single  46098.0        1         1
3  13        1947         PhD          Widow  25358.0        0         1
4  17        1971         PhD        Married  60491.0        0         1

  Dt_Customer  Recency MntWines MntFruits MntMeatProducts MntFishProducts  \
0  04/05/2013       66  $239.00    $10.00         $554.00         $254.00
1  15/06/2014        0  $464.00     $5.00          $64.00           $7.00
2  18/08/2012       86   $57.00     $0.00          $27.00           $0.00
3  22/07/2013       57   $19.00     $0.00           $5.00           $0.00
4  06/09/2013       81  $637.00    $47.00         $237.00          $12.00

  MntSweetProducts MntGoldProds  NumDealsPurchases  NumWebPurchases  \
0           $87.00       $54.00                  1                3
1            $0.00       $37.00                  1                7
2            $0.00       $36.00                  4                3
3            $0.00        $8.00                  2                1
4           $19.00       $76.00                  4                6

   NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth  AcceptedCmp1  \
0                    4                  9                  1             0
1                    3                  7                  5             0
2                    2                  2                  8             0
3                    0                  3                  6             0
4                   11                  7                  5             0

   AcceptedCmp2  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  Response  Complain
0             0             0             0             0         0         0
1             1             0             0             0         1         0
2             0             0             0             0         0         0
3             0             0             0             0         0         0
4             0             0             0             0         0         0

================================================================================

Lignes o√π la somme store/web/catalog < deals supprim√©es avec succ√®s.
   ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0   0        1985  Graduation        Married  70951.0        0         0
1   1        1961  Graduation         Single  57091.0        0         0
2   9        1975      Master         Single  46098.0        1         1
3  13        1947         PhD          Widow  25358.0        0         1
4  17        1971         PhD        Married  60491.0        0         1

  Dt_Customer  Recency MntWines MntFruits MntMeatProducts MntFishProducts  \
0  04/05/2013       66  $239.00    $10.00         $554.00         $254.00
1  15/06/2014        0  $464.00     $5.00          $64.00           $7.00
2  18/08/2012       86   $57.00     $0.00          $27.00           $0.00
3  22/07/2013       57   $19.00     $0.00           $5.00           $0.00
4  06/09/2013       81  $637.00    $47.00         $237.00          $12.00

  MntSweetProducts MntGoldProds  NumDealsPurchases  NumWebPurchases  \
0           $87.00       $54.00                  1                3
1            $0.00       $37.00                  1                7
2            $0.00       $36.00                  4                3
3            $0.00        $8.00                  2                1
4           $19.00       $76.00                  4                6

   NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth  AcceptedCmp1  \
0                    4                  9                  1             0
1                    3                  7                  5             0
2                    2                  2                  8             0
3                    0                  3                  6             0
4                   11                  7                  5             0

   AcceptedCmp2  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  Response  Complain
0             0             0             0             0         0         0
1             1             0             0             0         1         0
2             0             0             0             0         0         0
3             0             0             0             0         0         0
4             0             0             0             0         0         0

================================================================================

Colonnes tri√©es dans l'ordre souhait√© avec succ√®s.

================================================================================

La somme totale des revenus (Income) est : 116001621.0

================================================================================

---
## 4Ô∏è) Feature Engineering

Cr√©ation de nouvelles variables pertinentes pour l'analyse

In [29]:
#1 Ajout champ "age"

actuel_year = 2014
df['Age'] = actuel_year - df['Year_Birth']
print("Champ 'Age' ajout√© avec succ√®s.")
print(df[['Year_Birth', 'Age']].head(10))

print("\n" + "="*80 + "\n")

#2 Ajout champ "enfant totaux"

df['Total_Children'] = df['Kidhome'] + df['Teenhome']
print("Champ 'Total_Children' ajout√© avec succ√®s.")
print(df[['Kidhome', 'Teenhome', 'Total_Children']].head(10))

print("\n" + "="*80 + "\n")

#3 Ajout champ "achats totaux"

df['Total_Purchases'] = (df['MntWines'] + df['MntFruits'] + df['MntMeatProducts'] + 
                          df['MntFishProducts'] + df['MntSweetProducts'] + df['MntGoldProds'])
print("Champ 'Total_Purchases' ajout√© avec succ√®s.")
print(df[['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 
          'MntSweetProducts', 'MntGoldProds', 'Total_Purchases']].head(10))

print("\n" + "="*80 + "\n")

#4 Ajout du caract√®re $ dans les champs Mnt

money_columns = ['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'Total_Purchases']
for col in money_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')  
    df[col] = df[col].apply(lambda x: f"${x:.2f}" if pd.notnull(x) else "")
print("Caract√®re '$' ajout√© aux champs Mnt avec succ√®s.")
print(df[money_columns].head())

print(df[money_columns].head(10))
print(df[money_columns].dtypes)


print("\n" + "="*80 + "\n")

#5 Ajout champ somme store/web/catalog

df['Total_Num_Purchases'] = df['NumStorePurchases'] + df['NumWebPurchases'] + df['NumCatalogPurchases']
print("Champ 'Total_Num_Purchases' ajout√© avec succ√®s.")
print(df[['NumStorePurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'Total_Num_Purchases']].head(10))

print("\n" + "="*80 + "\n")

Champ 'Age' ajout√© avec succ√®s.
   Year_Birth  Age
0        1985   29
1        1961   53
2        1975   39
3        1947   67
4        1971   43
5        1965   49
6        1976   38
7        1960   54
8        1958   56
9        1987   27

================================================================================

Champ 'Total_Children' ajout√© avec succ√®s.
   Kidhome  Teenhome  Total_Children
0        0         0               0
1        0         0               0
2        1         1               2
3        0         1               1
4        0         1               1
5        0         1               1
6        1         0               1
7        1         1               2
8        0         1               1
9        1         0               1

================================================================================

Champ 'Total_Purchases' ajout√© avec succ√®s.
   MntWines  MntFruits  MntMeatProducts  MntFishProducts  MntSweetProducts  \
0       239         10              554              254                87
1       464          5               64                7                 0
2        57          0               27                0                 0
3        19          0                5                0                 0
4       637         47              237               12                19
5        43         12               23               29                15
6       185          2               88               15                 5
7        18          2               19                0                 2
8       460         35              422               33                12
9        32          1               64               16                12

   MntGoldProds  Total_Purchases
0            54             1198
1            37              577
2            36              120
3             8               32
4            76             1028
5            61              183
6            14              309
7             6               47
8           153             1115
9            85              210

================================================================================

Caract√®re '$' ajout√© aux champs Mnt avec succ√®s.
  MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts  \
0  $239.00    $10.00         $554.00         $254.00           $87.00
1  $464.00     $5.00          $64.00           $7.00            $0.00
2   $57.00     $0.00          $27.00           $0.00            $0.00
3   $19.00     $0.00           $5.00           $0.00            $0.00
4  $637.00    $47.00         $237.00          $12.00           $19.00

  MntGoldProds Total_Purchases
0       $54.00        $1198.00
1       $37.00         $577.00
2       $36.00         $120.00
3        $8.00          $32.00
4       $76.00        $1028.00
  MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts  \
0  $239.00    $10.00         $554.00         $254.00           $87.00
1  $464.00     $5.00          $64.00           $7.00            $0.00
2   $57.00     $0.00          $27.00           $0.00            $0.00
3   $19.00     $0.00           $5.00           $0.00            $0.00
4  $637.00    $47.00         $237.00          $12.00           $19.00
5   $43.00    $12.00          $23.00          $29.00           $15.00
6  $185.00     $2.00          $88.00          $15.00            $5.00
7   $18.00     $2.00          $19.00           $0.00            $2.00
8  $460.00    $35.00         $422.00          $33.00           $12.00
9   $32.00     $1.00          $64.00          $16.00           $12.00

  MntGoldProds Total_Purchases
0       $54.00        $1198.00
1       $37.00         $577.00
2       $36.00         $120.00
3        $8.00          $32.00
4       $76.00        $1028.00
5       $61.00         $183.00
6       $14.00         $309.00
7        $6.00          $47.00
8      $153.00        $1115.00
9       $85.00         $210.00
MntWines            object
MntFruits           object
MntMeatProducts     object
MntFishProducts     object
MntSweetProducts    object
MntGoldProds        object
Total_Purchases     object
dtype: object

================================================================================

Champ 'Total_Num_Purchases' ajout√© avec succ√®s.
   NumStorePurchases  NumWebPurchases  NumCatalogPurchases  \
0                  9                3                    4
1                  7                7                    3
2                  2                3                    2
3                  3                1                    0
4                  7                6                   11
5                  4                2                    1
6                  5                6                    1
7                  4                3                    0
8                  7                6                    6
9                  3                2                    2

   Total_Num_Purchases
0                   16
1                   17
2                    7
3                    4
4                   24
5                    7
6                   12
7                    7
8                   19
9                    7

================================================================================

---
## 5Ô∏è) Analyse Exploratoire des Donn√©es (EDA)

### 5.1 Analyse Univari√©e

### 5.2 Analyse des Campagnes Marketing

### 5.3 Analyse Bivari√©e - Relations entre variables

---
## 6Ô∏è) D√©finition et Calcul des KPIs

### KPIs Cl√©s pour √âvaluer l'Efficacit√© des Campagnes

---
## 7Ô∏è) Segmentation Client (Clustering)

### 7.1 Pr√©paration des donn√©es pour le clustering

### 7.2 D√©termination du nombre optimal de clusters (M√©thode du Coude)

### 7.3 Application du K-Means Clustering

---
## 8Ô∏è) Mod√©lisation Pr√©dictive

### 8.1 Pr√©paration des donn√©es pour la pr√©diction

### 8.2 Entra√Ænement de plusieurs mod√®les

### 8.3 Comparaison des performances

### 8.4 Analyse d√©taill√©e du meilleur mod√®le

---
## 9Ô∏è) Conclusions et Recommandations

### 9.1 Synth√®se des R√©sultats

### 9.2 Recommandations Strat√©giques

---

## Conclusion Finale

Cette analyse compl√®te a permis de :


### Points Forts de l'Analyse