# Analyse de Campagne Marketing - Grande Distribution

---

## Contexte et Objectifs

**Client :** Direction Marketing d'une multinationale de la grande distribution

### Objectifs Principaux
1. **Analyser, visualiser et interpr√©ter** les donn√©es de campagne marketing
2. **D√©finir les KPIs pertinents** pour √©valuer l'efficacit√© des campagnes
3. **Pr√©dire la r√©ponse client** aux futures campagnes

### Objectifs Finaux
- Chiffrer l'efficacit√© des campagnes marketing
- R√©aliser des KPIs et fournir des chiffres cl√©s
- Cerner la cible client et comprendre le public cibl√©

### Livrables
- Analyses exploratoires compl√®tes
- Mod√®les pr√©dictifs de r√©ponse client
- Segmentation client (clustering)
- Justification du feature engineering

## Table des Mati√®res

1. **Importation des Biblioth√®ques**
2. **Chargement et D√©couverte des Donn√©es**
3. **Nettoyage et Pr√©traitement des Donn√©es**
4. **Feature Engineering**
5. **Analyse Exploratoire des Donn√©es (EDA)**
6. **D√©finition et Calcul des KPIs**
7. **Segmentation Client (Clustering)**
8. **Mod√©lisation Pr√©dictive**
9. **Conclusions et Recommandations**

---
## 1) Importation des Biblioth√®ques

In [1]:
# Manipulation de donn√©es
import pandas as pd
import numpy as np

# Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Machine Learning - Preprocessing
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Machine Learning - Clustering
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

# Machine Learning - Mod√©lisation
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

# Machine Learning - √âvaluation
from sklearn.metrics import (
    classification_report, confusion_matrix, 
    accuracy_score, precision_score, recall_score, f1_score,
    roc_auc_score, roc_curve, precision_recall_curve
)

# Ignorer les warnings
import warnings 
warnings.filterwarnings('ignore')

# Configuration des graphiques
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

print("‚úÖ Toutes les biblioth√®ques ont √©t√© import√©es avec succ√®s !")

‚úÖ Toutes les biblioth√®ques ont √©t√© import√©es avec succ√®s !

---
## 2Ô∏è) Chargement et D√©couverte des Donn√©es

In [2]:
# Chargement des donn√©es
df = pd.read_csv('Campagne_Market.csv', sep=';')

print("üìä Dimensions du dataset :")
print(f"   Nombre de lignes : {df.shape[0]}")
print(f"   Nombre de colonnes : {df.shape[1]}")
print("\n" + "="*80 + "\n")

# Affichage des premi√®res lignes
print("üìã Aper√ßu des donn√©es :")
df.head(10)

üìä Dimensions du dataset :
   Nombre de lignes : 2240
   Nombre de colonnes : 29

================================================================================

üìã Aper√ßu des donn√©es :

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0
5,7446,1967,Master,Together,62513.0,0,1,2013-09-09,16,520,42,98,0,42,14,2,6,4,10,6,0,0,0,0,0,0,3,11,0
6,965,1971,Graduation,Divorced,55635.0,0,1,2012-11-13,34,235,65,164,50,49,27,4,7,3,7,6,0,0,0,0,0,0,3,11,0
7,6177,1985,PhD,Married,33454.0,1,0,2013-05-08,32,76,10,56,3,1,23,2,4,0,4,8,0,0,0,0,0,0,3,11,0
8,4855,1974,PhD,Together,30351.0,1,0,2013-06-06,19,14,0,24,3,3,2,1,3,0,2,9,0,0,0,0,0,0,3,11,1
9,5899,1950,PhD,Together,5648.0,1,1,2014-03-13,68,28,0,6,1,1,13,1,1,0,0,20,1,0,0,0,0,0,3,11,0

In [3]:
# Informations g√©n√©rales sur le dataset
print("‚ÑπÔ∏è Informations sur le dataset :")
print(df.info())
print("\n" + "="*80 + "\n")

# Statistiques descriptives
print("Statistiques descriptives :")
df.describe()

‚ÑπÔ∏è Informations sur le dataset :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB
None

================================================================================

Statistiques descriptives :

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,27.062946,44.021875,2.325000,4.084821,2.662054,5.790179,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,41.280498,52.167439,1.932238,2.778714,2.923101,3.250958,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,1.000000,9.000000,1.000000,2.000000,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,8.000000,24.000000,2.000000,4.000000,2.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,33.000000,56.000000,3.000000,6.000000,4.000000,8.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,263.000000,362.000000,15.000000,27.000000,28.000000,13.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

---
## 3Ô∏è) Nettoyage et Pr√©traitement des Donn√©es

In [ ]:
#1 Dans Marital Status, remplacer "Alone" par "Single" et "Absurd" et "YOLO" par "Other"

new_value = {
    'Alone': 'Single',
    'Absurd': 'Other',
    'YOLO': 'Other'
}
df['Marital_Status'] = df['Marital_Status'].replace(new_value)
print("Valeurs dans 'Marital_Status' remplac√©es avec succ√®s.")
print(df['Marital_Status'].head())  
df.head()

print("\n" + "="*80 + "\n")


#2 Supprimer la ligne avec income = 666666

df = df[df['Income'] != 666666]
print("Ligne avec 'Income' = 666666 supprim√©e avec succ√®s.")
print(df['Income'].head())

print("\n" + "="*80 + "\n")

                                                
#3 Ajout du caract√®re $ dans les champs Mnt

money_columns = ['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']
for col in money_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')  
    df[col] = df[col].apply(lambda x: f"${x:.2f}" if pd.notnull(x) else "")
print("Caract√®re '$' ajout√© aux champs Mnt avec succ√®s.")
print(df[money_columns].head())

print(df[money_columns].head(10))
print(df[money_columns].dtypes)


print("\n" + "="*80 + "\n")


#4 Supprimer les lignes si la somme des canaux de distrib (NumDealsPurchases + NumWebPurchases + NumCatalogPurchases + NumStorePurchases) = 0

df['Total_Purchases'] = df['NumDealsPurchases'] + df['NumWebPurchases'] + df['NumCatalogPurchases'] + df['NumStorePurchases']
df = df[df['Total_Purchases'] != 0]
df = df.drop(columns=['Total_Purchases'])
print("Lignes avec somme des canaux de distribution √©gale √† 0 supprim√©es avec succ√®s.")
print(df.head())

print("\n" + "="*80 + "\n")


#5 Supprimer les lignes o√π la somme store/web/catalog < deals

df['Sum_Other_Purchases'] = df['NumWebPurchases'] + df['NumCatalogPurchases'] + df['NumStorePurchases']
df = df[df['Sum_Other_Purchases'] >= df['NumDealsPurchases']]
df = df.drop(columns=['Sum_Other_Purchases'])
print("Lignes o√π la somme store/web/catalog < deals supprim√©es avec succ√®s.")
print(df.head())   

print("\n" + "="*80 + "\n")


#6 Trier visuelement les campagnes Marketing dans le bon ordre
# ID - Year_birth - Education - Marital_Status - Income - Kidhome - Teenhome - Dt_Customer - Recency - MntWines - MntFruits - MntMeatProducts - MntFishProducts - MntSweetProducts - MntGoldProds - NumDealsPurchases - NumWebPurchases - NumCatalogPurchases - NumStorePurchases - NumWebVisitsMonth - AcceptedCmp1 - AcceptedCmp2 - AcceptedCmp3 - AcceptedCmp4 - AcceptedCmp5 - Response

df = df[['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'Response']]
print("Colonnes tri√©es avec succ√®s.")
print(df.head())

print("\n" + "="*80 + "\n")


#7 Remplissage des cellules vides de Income par la m√©dianne des Income de la tranche d'√¢ge (<26 , 26-35, 36-45, 46-55, 56-65, >65) + de la m√™me Education + du statut marital




print("\n" + "="*80 + "\n")

Valeurs dans 'Marital_Status' remplac√©es avec succ√®s.
0      Single
1      Single
2    Together
3    Together
4     Married
Name: Marital_Status, dtype: object

================================================================================

Ligne avec 'Income' = 666666 supprim√©e avec succ√®s.
0    58138.0
1    46344.0
2    71613.0
3    26646.0
4    58293.0
Name: Income, dtype: float64

================================================================================

Caract√®re '$' ajout√© aux champs Mnt avec succ√®s.
  MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts  \
0
1
2
3
4

  MntGoldProds
0
1
2
3
4
  MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts  \
0
1
2
3
4
5
6
7
8
9

  MntGoldProds
0
1
2
3
4
5
6
7
8
9
MntWines            object
MntFruits           object
MntMeatProducts     object
MntFishProducts     object
MntSweetProducts    object
MntGoldProds        object
dtype: object

================================================================================

Lignes avec somme des canaux de distribution √©gale √† 0 supprim√©es avec succ√®s.
     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency MntWines MntFruits MntMeatProducts MntFishProducts  \
0  2012-09-04       58
1  2014-03-08       38
2  2013-08-21       26
3  2014-02-10       26
4  2014-01-19       94

  MntSweetProducts MntGoldProds  NumDealsPurchases  NumWebPurchases  \
0                                                3                8
1                                                2                1
2                                                1                8
3                                                2                2
4                                                5                5

   NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth  AcceptedCmp1  \
0                   10                  4                  7             0
1                    1                  2                  5             0
2                    2                 10                  4             0
3                    0                  4                  6             0
4                    3                  6                  5             0

   AcceptedCmp2  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  Response
0             0             0             0             0         1
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

================================================================================

Lignes o√π la somme store/web/catalog < deals supprim√©es avec succ√®s.
     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency MntWines MntFruits MntMeatProducts MntFishProducts  \
0  2012-09-04       58
1  2014-03-08       38
2  2013-08-21       26
3  2014-02-10       26
4  2014-01-19       94

  MntSweetProducts MntGoldProds  NumDealsPurchases  NumWebPurchases  \
0                                                3                8
1                                                2                1
2                                                1                8
3                                                2                2
4                                                5                5

   NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth  AcceptedCmp1  \
0                   10                  4                  7             0
1                    1                  2                  5             0
2                    2                 10                  4             0
3                    0                  4                  6             0
4                    3                  6                  5             0

   AcceptedCmp2  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  Response
0             0             0             0             0         1
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

================================================================================

Colonnes tri√©es avec succ√®s.
     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency MntWines MntFruits MntMeatProducts MntFishProducts  \
0  2012-09-04       58
1  2014-03-08       38
2  2013-08-21       26
3  2014-02-10       26
4  2014-01-19       94

  MntSweetProducts MntGoldProds  NumDealsPurchases  NumWebPurchases  \
0                                                3                8
1                                                2                1
2                                                1                8
3                                                2                2
4                                                5                5

   NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth  AcceptedCmp1  \
0                   10                  4                  7             0
1                    1                  2                  5             0
2                    2                 10                  4             0
3                    0                  4                  6             0
4                    3                  6                  5             0

   AcceptedCmp2  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  Response
0             0             0             0             0         1
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

================================================================================

Cellules vides de 'Income' remplies avec succ√®s.
0    58138.0
1    46344.0
2    71613.0
3    26646.0
4    58293.0
Name: Income, dtype: float64

================================================================================

---
## 4Ô∏è) Feature Engineering

Cr√©ation de nouvelles variables pertinentes pour l'analyse

In [ ]:
#1 Ajout champ "age"

actuel_year = 2014
df['Age'] = actuel_year - df['Year_Birth']
print("Champ 'Age' ajout√© avec succ√®s.")
print(df[['Year_Birth', 'Age']].head(10))

print("\n" + "="*80 + "\n")

#2 Ajout champ "enfant totaux"

df['Total_Children'] = df['Kidhome'] + df['Teenhome']
print("Champ 'Total_Children' ajout√© avec succ√®s.")
print(df[['Kidhome', 'Teenhome', 'Total_Children']].head(10))

print("\n" + "="*80 + "\n")

#3 Ajout champ "achats totaux"

df['Total_Purchases'] = (df['MntWines'] + df['MntFruits'] + df['MntMeatProducts'] + 
                          df['MntFishProducts'] + df['MntSweetProducts'] + df['MntGoldProds'])
print("Champ 'Total_Purchases' ajout√© avec succ√®s.")
print(df[['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 
          'MntSweetProducts', 'MntGoldProds', 'Total_Purchases']].head(10))

print("\n" + "="*80 + "\n")

#4 Ajout champ somme store/web/catalog

df['Total_Num_Purchases'] = df['NumStorePurchases'] + df['NumWebPurchases'] + df['NumCatalogPurchases']
print("Champ 'Total_Num_Purchases' ajout√© avec succ√®s.")
print(df[['NumStorePurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'Total_Num_Purchases']].head(10))

print("\n" + "="*80 + "\n")

Champ 'Age' ajout√© avec succ√®s.
   Year_Birth  Age
0        1957   58
1        1954   61
2        1965   50
3        1984   31
4        1981   34
5        1967   48
6        1971   44
7        1985   30
8        1974   41
9        1950   65

================================================================================

Champ 'Total_Children' ajout√© avec succ√®s.
   Kidhome  Teenhome  Total_Children
0        0         0               0
1        1         1               2
2        0         0               0
3        1         0               1
4        1         0               1
5        0         1               1
6        0         1               1
7        1         0               1
8        1         0               1
9        1         1               2

================================================================================

Champ 'Total_Purchases' ajout√© avec succ√®s.
  MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts  \
0  $635.00    $88.00         $546.00         $172.00           $88.00
1   $11.00     $1.00           $6.00           $2.00            $1.00
2  $426.00    $49.00         $127.00         $111.00           $21.00
3   $11.00     $4.00          $20.00          $10.00            $3.00
4  $173.00    $43.00         $118.00          $46.00           $27.00
5  $520.00    $42.00          $98.00           $0.00           $42.00
6  $235.00    $65.00         $164.00          $50.00           $49.00
7   $76.00    $10.00          $56.00           $3.00            $1.00
8   $14.00     $0.00          $24.00           $3.00            $3.00
9   $28.00     $0.00           $6.00           $1.00            $1.00

  MntGoldProds                          Total_Purchases
0       $88.00  $635.00$88.00$546.00$172.00$88.00$88.00
1        $6.00          $11.00$1.00$6.00$2.00$1.00$6.00
2       $42.00  $426.00$49.00$127.00$111.00$21.00$42.00
3        $5.00        $11.00$4.00$20.00$10.00$3.00$5.00
4       $15.00   $173.00$43.00$118.00$46.00$27.00$15.00
5       $14.00     $520.00$42.00$98.00$0.00$42.00$14.00
6       $27.00   $235.00$65.00$164.00$50.00$49.00$27.00
7       $23.00       $76.00$10.00$56.00$3.00$1.00$23.00
8        $2.00         $14.00$0.00$24.00$3.00$3.00$2.00
9       $13.00         $28.00$0.00$6.00$1.00$1.00$13.00

================================================================================

Champ 'Total_Num_Purchases' ajout√© avec succ√®s.
   NumStorePurchases  NumWebPurchases  NumCatalogPurchases  \
0                  4                8                   10
1                  2                1                    1
2                 10                8                    2
3                  4                2                    0
4                  6                5                    3
5                 10                6                    4
6                  7                7                    3
7                  4                4                    0
8                  2                3                    0
9                  0                1                    0

   Total_Num_Purchases
0                   22
1                    4
2                   20
3                    6
4                   14
5                   20
6                   17
7                    8
8                    5
9                    1

================================================================================

---
## 5Ô∏è) Analyse Exploratoire des Donn√©es (EDA)

### 5.1 Analyse Univari√©e

### 5.2 Analyse des Campagnes Marketing

### 5.3 Analyse Bivari√©e - Relations entre variables

---
## 6Ô∏è) D√©finition et Calcul des KPIs

### KPIs Cl√©s pour √âvaluer l'Efficacit√© des Campagnes

---
## 7Ô∏è) Segmentation Client (Clustering)

### 7.1 Pr√©paration des donn√©es pour le clustering

### 7.2 D√©termination du nombre optimal de clusters (M√©thode du Coude)

### 7.3 Application du K-Means Clustering

---
## 8Ô∏è) Mod√©lisation Pr√©dictive

### 8.1 Pr√©paration des donn√©es pour la pr√©diction

### 8.2 Entra√Ænement de plusieurs mod√®les

### 8.3 Comparaison des performances

### 8.4 Analyse d√©taill√©e du meilleur mod√®le

---
## 9Ô∏è) Conclusions et Recommandations

### 9.1 Synth√®se des R√©sultats

### 9.2 Recommandations Strat√©giques

---

## Conclusion Finale

Cette analyse compl√®te a permis de :


### Points Forts de l'Analyse